@{
    Layout = "_CustomLayout";
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="hero-text">
        <h1>Hi, I am <span class="highlight">Younes Zouhairi</span>.</h1>
        <p>I am a .NET developer</p>
        <a href="" class="resume-btn">My Resume</a>
        <div class="social-icons">
            <a href="#"><img src="~/images/icon-linkedin.png" alt="LinkedIn"></a>
            <a href="#"><img src="~/images/icon-github.png" alt="GitHub"></a>
            <a href="#"><img src="~/images/icon-gmail.png" alt="Gmail"></a>
        </div>
    </div>
</section>
